body {
    max-width: 870px;
    position: relative;
    margin: 0 auto;
}

#page {
    margin: 5em auto;
    width: 100%;
    text-align: center;
    font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
}

#page h1 {
    font-size: 5.8em;
}

#page p {
    font-size: 2.2em;
}

#page a {
    color: #f33;
    text-decoration: none;
}
